.root {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  gap: 0.5rem;
}

.controls {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.search-input {
  padding: 1rem 2rem;
  border-radius: 50px;
  border: none;
  width: 150px;
  flex: 1;
}

.close {
  padding: 0.8rem;
  border-radius: 50px;
  border: none;
  flex-basis: auto;
  flex-grow: 0;
}

.search-input:hover {
  box-shadow: var(--item-hover-shadow);
}
