.root {
  z-index: var(--modal-index);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 50%, 0.5);
  top: 0;
  left: 0;
  z-index: var(--modal-index);
  backdrop-filter: blur(5px);
}

.content {
  background-color: var(--main-bg-color);
  width: min(1200px, 95%);
  max-height: 80%;
  height: min(80%, 1200px);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}
