.root {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: var(--main-bg-color);
  padding-top: 8px;
}

@media (max-width: 768px) {
  .lower-text {
    display: none;
  }
  .title {
    font-size: 1.5rem;
  }
}
