.cart-btn {
  background-color: transparent;
  padding: .5rem;
  font-size: 1.2rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  border: 1px white solid;
  cursor: pointer;
  color: white;
  width: 52px;
  transition: 0.2s;
}

.cart-btn:hover {
  background-color: hsl(209, 100%, 50%);
  border-color: transparent;
}

.cart-btn:hover span {
  scale: 1.2;
}

.cart-btn span {
  transition: 0.2s;
  display: grid;
  place-items: center;
}