.root {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.root img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-basis: 50px;
  min-width: 50px;
  border-radius: 8px;
}

.info {
  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  flex: 1 1;
  flex-wrap: wrap;
}

.info-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.item-title {
  font-size: 1.8rem;
  font-weight: bold;
  flex: 1 1 280px;
}

.info:hover {
  text-decoration: underline;
}

.actions {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
