.root {
  margin-bottom: 1rem;
}

.link {
  display: grid;
  grid-template-columns: 10% 50% 10% auto;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.link:hover {
  background-color: var(--item-hover-color);
  box-shadow: var(--item-hover-shadow);
}
