.root {
  padding: 1rem;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  border: var(--button-border);
}

.root:hover {
  border: var(--button-hover-border);
  background-color: var(--button-blue);
  box-shadow: var(--item-hover-shadow);
}

.badge {
  position: absolute;
  left: 0;
  bottom: 0;

  color: white;
  font-size: 1rem;
  font-weight: bold;

  display: grid;
  place-items: center;
  transform: translate(-50%, 50%);
  animation: appear-badge 0.2s ease-in-out;
}

.badge > span {
  aspect-ratio: 1/1;
  padding: 1rem;
  width: fit-content;
  height: fit-content;
  background-color: var(--cart-indicator-color);
  border-radius: 50%;
}

.count {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}

@keyframes appear-badge {
  from {
    opacity: 0;
    transform: translate(-50%, 50%) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 50%) scale(1);
  }
}
