* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  color: white;
  background: #121212;
}

:root {
  --app-padding: 1rem;

  --item-hover-color: hsl(0, 0%, 10%);
  --item-hover-shadow: hsla(240, 0%, 0%, 0.4) 0 7px 29px 0;
}

.app-width {
  max-width: 1900px;
  padding: 0 var(--app-padding);
}